html{
    box-sizing: border-box;
}

.logo{
    margin-top: 2em;
    margin-left: 3em;
    height: 18em;
    width: 18em;
}

.barlogo{
    background-color: rgb(141, 153, 189);
}

.bar{
    background-color: #cf2929;
    overflow: hidden;
    margin-top: 5px;
}

.main-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.0em;
    padding: 1.25em; 
    text-align: center;
    display: ruby;
    margin-left: 20px;
}

#gifprogramacion{
    margin-right: 30em;
    margin-top: 1.2em;
    float: right;
    width: 20em; 
    height: 18em;
}

.main-nav a:hover {
    background-color: #ff810a;
}
