html{
    box-sizing: border-box;
}

.logo{
    margin-top: 2em;
    margin-left: 3em;
    height: 18em;
    width: 18em;
}

.barlogo{
    background-color: rgb(141, 153, 189);
}

.bar{
    background-color: RGB(202, 42, 29);
    overflow: hidden;
    margin-top: 5px;
}

.main-nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.0em;
    padding: 1.25em; 
    text-align: center;
    display: ruby;
    margin-left: 20px;
}

#gifprogramacion{
    margin-right: 30em;
    margin-top: 1.2em;
    float: right;
    width: 20em; 
    height: 18em;
}

.main-nav a:hover {
    background-color: RGB(78, 173, 248);
}

#kotlin{
    margin-top: -25px;
    margin-left: 50px;
    width: 250px;
    height: 200px;
}

#firebase{
    margin-top: -25px;
    margin-left: 50px;
    width: 250px;
    height: 200px;
}

#python{
    margin-top: -25px;
    margin-left: 50px;
    width: 250px;
    height: 200px;
}

#c{
    margin-top: -55px;
    margin-left: 50px;
    width: 250px;
    height: 200px;
}

#sqlserver{
    margin-top: -25px;
    margin-left: 50px;
    width: 250px;
    height: 170px;
}

.entry p {
    margin-left: 50px;
    margin-right: 100px;
    text-align: justify;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
    .entry img {
    padding-top: 2em;
      width: 18.75em;
      float: left;
      margin: 0 1.25em 0 0;
    }
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.main-content{
    margin-top: 2.5em;
    padding: 0;
}

h2{
    color: #000000;
    margin-top: 1em;
    margin-left: 50px;
    font-size: 50px;
}

body{
    background-color: rgb(224, 206, 206);
}
